<?xml version="1.0"?>
<config>
    <osc_net>
        <daw_ip>127.0.0.1</daw_ip>
        <daw_port>3819</daw_port>
        <recv_port>8000</recv_port>
    </osc_net>
    <avr_com>
        <serial_port>/dev/ttyUSB0</serial_port>
        <baudrate>250000</baudrate>
        <fader_min>50</fader_min>
        <fader_max>1000</fader_max>
    </avr_com>
    <misc>
        <window_width>1280</window_width>
        <window_height>750</window_height>
        <window_maximize>False</window_maximize>
        <meter_waveform_speed>10</meter_waveform_speed>
    </misc>
    <debug>
        <log_invalid_messages>True</log_invalid_messages>
    </debug>
</config>



